@{
    ViewData["Title"] = "Home Page";
}
@*@model List<HeroUp.Models.Heroes.HeroBase>*@

@*<ul>
    @foreach(var hero in Model)
    {
        <li> @hero.Name - @hero.HeroCategory - @hero.HP</li>
    }
</ul>*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
